<nav>
    <div class="site-title">
       
        <a href="/"><h1>Foolhardy Blog</h1></a>
        <p>A Josh Zed Site</p>
    </div>
    <ul>
        <li> <a href="/">Blogs</a></li>
        <li> <a href="/about">About</a></li>
        <li> <a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>