<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="about content">

        <h2>About us</h2>
        <p> I made this site using express, mongoose and mongoDB.</p>
        <p> This is some jibberish.. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit beatae ab officiis labore in iure est vel voluptate et distinctio odit, optio rerum fuga temporibus quidem praesentium! Rem, maiores magnam.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates dignissimos, eum dolorum harum velit architecto eos ad nesciunt totam, consectetur sit perferendis corrupti iure ex. Magni molestias voluptates repellat.</p>

    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>